td, th {
    /*white-space: nowrap !important;*/
}

.card-body {
    overflow-x: hidden;
    overflow: overlay;
}

/*narmin*/



.zaman-2 {
    float: left;
    width: calc(100% / 48);
    background: #c5eace;
    padding: 7px 3px;
    font-size: 11px;
    border: 0.1px solid #28a745;
    border-left: 0;
}
.zaman-2 span {
    -webkit-transform: rotate(-90deg);
    color: #0e0c28;
}
@media(min-width:1200px) and (max-width:1800px){
    .zaman-2 {
        float: left;
        width: calc(100% / 48);
        background: #c5eace;

        padding: 9px 2px;
        font-size: 7px;
        border: 0.1px solid #28a745;
        border-left: 0;
    }
    .zaman-2 span {
        -webkit-transform: rotate(-90deg);


    }
}

.hoverWrapper:hover .hoverShow1 {
    display: block;
}

.hoverWrapper .hoverShow1 {
    display: none;
    border: 0.1px solid #28a745;
    position: absolute;
    background: #c5eace;
    width: 150px;
    color: #000000;
    top: 75px;
    padding:10px;
    z-index: 9999;
}
.zaman-2.firstchild {
    border-left: 0.1px solid #28a745;
}
.ecommerce-widget {
    width: 100%;
}

.table td, .table th {
    padding: 3px !important;
}

.modal-body {
    overflow-y: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.columns {
    cursor: pointer;
}

.search-input {
    display: inline-block;
    max-width: 155px;
    margin: 2px 0;
}

.search-areas {
    display: block;
}

#search-cost-area, #search-date-area {
    display: none;
}

/*pagination*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

/*panel*/
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading > .dropdown .dropdown-toggle {
    color: inherit
}

.panel-body {
    padding: 15px
}